###########################
# Removing compiled files #
###########################

*.class

################################
# Mobile Tools for Java (J2ME) #
################################

.mtj.tmp/

##################
# Packages files #
##################

*.jar
*.war
*.ear
