@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Plus mine */

ul li {
	list-style-type: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#373737;
  background: #212121;
  font-size: 18px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-weight: 700;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  padding-bottom: 10px;
  font-size: 2.2em;
  background: url('../images/bg_hr.png') repeat-x bottom;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.7em;
}

h5 {
  font-size: 1.5em;
}

h6 {
  font-size: 1.2em;
}

p {
  margin: 10px 0 15px 0;
}

footer p {
  color: #f2f2f2;
}

a {
  text-decoration: none;
  color: #007edf;
  text-shadow: none;
  
  border-bottom: 0.1em solid transparent;

  transition: color 0.5s ease, text-shadow 0.5s ease, border-bottom-color 0.3s ease;
  -webkit-transition: color 0.5s ease, text-shadow 0.5s ease, border-bottom-color 0.3s ease;
  -moz-transition: color 0.5s ease, text-shadow 0.5s ease, border-bottom-color 0.3s ease;
  -o-transition: color 0.5s ease, text-shadow 0.5s ease, border-bottom-color 0.3s ease;
  -ms-transition: color 0.5s ease, text-shadow 0.5s ease, border-bottom-color 0.3s ease;
}

a:hover, a:focus {
	border-bottom-color: currentColor;
}

footer a {
  color: #F2F2F2;
  text-decoration: underline;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  max-width: 640px;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
  
  box-shadow: 5px 0 10px rgba(0,0,0,0.7);
}

.header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

.project_title {
  margin: 0;
  color: #fff;
  font-size: 2.5em;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.project_tagline {
  color: #fff;
  font-size: 1.2em;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

section {
	padding: 1.7em;
}

section:nth-child(odd) {
	color: #f2f2f2;
}

section:nth-child(even) {
	background: #aaaaaa;
	box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

section p, section ul, section h3, section h4 {
	max-width: 900px;
	margin: auto;
}

section h3, section h4 {
	margin-bottom: 0.5em;
}

section.downloads {
	text-align: center;
}

section.downloads ul li {
	font-size: 1.2em;
	margin: 1em;
}

section.downloads ul li a {
	color: #f2f2f2;
}

.footer_wrap {
  box-shadow: -5px 0 10px rgba(0,0,0,0.7);
}

@media screen and (max-width: 480px) {
	
	body {
		font-size: 16px;
	}
	
}
